form#form-editproblem method="POST"
  .form-group.row
    label.col-md-3.col-form-label for="input-showpid" showpid
    .col-md-9
      input.form-control#input-showpid name="showpid" value="#{@showpid || ''}"
  .form-group.row
    label.col-md-3.col-form-label for="input-genre" genre
    .col-md-9
      input.form-control#input-genre name="genre" autocomplete="on" list="genres" value="#{@genre || ''}"
      datalist#genres
        option value="reversing"
        option value="pwn"
        option value="web"
        option value="cryptography"
        option value="networking"
        option value="steganography"
        option value="recon"
        option value="programming"
        option value="misc"

  .form-group.row
    label.col-md-3.col-form-label for="input-author" author
    .col-md-9
      input.form-control#input-author name="author" value="#{@author || ''}"

  .form-group.row
    label.col-md-3.col-form-label for="input-title" title
    .col-md-9
      input.form-control#input-title name="title" value="#{@title || ''}"

  .form-group.row
    label.col-md-3.col-form-label for="input-body" body
    .col-md-9
      textarea.form-control#input-body name="body" == @body || ''

  .form-group.row
    label.col-md-3.col-form-label for="input-flag" flag
    .col-md-9
      input.form-control#input-flag name="flag" value="#{@flag || ''}"

  .form-group.row
    label.col-md-3.col-form-label for="input-point" point
    .col-md-9
      input.form-control#input-point name="point" type="number" value="#{@point.to_i || ''}"

  .form-group.row
    label.col-md-3.col-form-label for="input-disabled" disabled
    .col-md-9
      .form-check
        - if @disabled
          input#input-disabled name="disabled" type="checkbox" checked="checked"
        - else
          input#input-disabled name="disabled" type="checkbox"

  .form-group.row
    .col-md-3
    .col-md-9
      button.btn.btn-primary#btn-submit type="submit" = @problemid ? 'edit' : 'register'
