form#form-editpost method="POST"
  .form-group.row
    label.col-md-3.col-form-label for="input-posthash" posthash
    .col-md-9
      input.form-control#input-posthash name="posthash" value="#{@posthash || ''}"

  .form-group.row
    label.col-md-3.col-form-label for="input-title" title
    .col-md-9
      input.form-control#input-title name="title" value="#{@title || ''}"

  .form-group.row
    label.col-md-3.col-form-label for="input-content" content
    .col-md-9
      textarea.form-control#input-content name="content" == @content || ''

  .form-group.row
    label.col-md-3.col-form-label for="input-disabled" disabled
    .col-md-9
      .form-check
        - if @disabled
          input#input-disabled name="disabled" type="checkbox" checked="checked"
        - else
          input#input-disabled name="disabled" type="checkbox"

  .form-group.row
    .col-md-3
    .col-md-9
      button.btn.btn-primary#btn-submit type="submit" = @postid ? 'edit' : 'register'
