.container
  table.table.table-striped.table-bordered
    thead
      tr
        th = ''
        th id
        th title
        th posthash
    tbody
      - Post.order('id ASC').each do |post|
        == '<tr%s>'%[ post.disabled ? ' class="table-warning"' : '' ]
        td align="right"
          a href="/admin/post/#{post.id}" edit
        td = post.id
        td = post.title
        td = post.posthash
        == '</tr>'

  hr 
  h3 new post

  .container
    include editpost
