.container
  table.table.table-striped.table-bordered
    thead
      tr
        th = ''
        th id
        th showpid
        th title
        th genre
        th author
    tbody
      - Problem.order('showpid ASC').each do |problem|
        == '<tr%s>'%[ problem.disabled ? ' class="table-warning"' : '' ]
        td align="right"
          a href="/admin/problem/#{problem.id}" edit
        td = problem.id
        td = problem.showpid
        td = problem.title
        td = problem.genre
        td = problem.author
        == '</tr>'

  hr 
  h3 new problem

  .container
    include editproblem
