p
  font color="red" Congratulations!

p login and get point!
form.form-inline method="POST"
  .form-group
    label.sr-only for="input-username" Username
    input.form-control#input-username name="username" autocomplete="off" placeholder="Username" value="#{@username || nil}"
  .form-group
    label.sr-only for="input-password" Password
    input.form-control#input-password name="password" autocomplete="off" placeholder="Password" type="password"
  input name="flag" type="hidden" value="#{@flag}"
  button.btn.btn-primary type="submit" submit

br
p == 'or new user...?  <a href="/register">register here!</a>'
