doctype html
html
  head
    meta charset="utf-8"
    title = @title
    meta http-equiv="X-UA-Compatible" content="IE=edge"
    meta name="viewport" content="width=device-width, initial-scale=1"
    link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" rel="stylesheet"
    link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" rel="stylesheet"
    link href="/style.css" rel="stylesheet"
    script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"
    script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js"
    script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"
  body
    nav.navbar.navbar-light.bg-faded
      .container
        a.navbar-brand href="/" TSGCTF
        ul.nav.navbar-nav
          li.nav-item
            a.nav-link href="/problems" 問題
          li.nav-item
            a.nav-link href="/ranking" ランキング
    br
    .container
      - if @error
        #error.alert.alert-danger role="alert"
          = @error
      == yield
