table.table.table-striped.table-bordered
  thead
    tr
      th id
      th genre
      th title
      th point
  tbody
    - @problems.each do |problem|
      tr
        td = problem.showpid || problem.id
        td = problem.genre
        td
          a href="/problem/#{problem.id}" = problem.title
        td = problem.point
