h3 = "%d. %s"%[@problem.showpid || @problem.id, @problem.title]
p Genre: #{@problem.genre}, #{@problem.point}pts.
pre#problem-body
  == @problem.body

form.form-inline method="POST" action="/submit/#{@problem.id}"
  .form-group
    input.form-control name="flag" autocomplete="off" placeholder="TSG{...}"
  button.btn.btn-primary type="submit" submit!
