form.form-inline method="POST"
  .form-group
    input.form-control#input-username name="username" autocomplete="off" placeholder="Username"
  .form-group
    input.form-control#input-password name="password" autocomplete="off" placeholder="Password" type="password"
  button.btn.btn-primary type="submit" register
